<h2>Контакти</h2>

<address>
    <strong>Адреса:</strong>
    вул. Макаренка, 2, с.Подільське<br />
    Золотоніський район, Черкаська обрасть, Україна<br />
    <strong>Контактний телефон:</strong> <p>(04737)65140</p>
    <strong>Пошта</strong> <p>z65140@gmail.com</p>
</address>
